<!DOCTYPE html>
<html>
<head>
  <title>TlDr</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<button id="tldr">To Long Don't Read It!</button>
<%= yield %>

</body>
</html>
